@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Lavishly Yours", cursive;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    color: rgb(190, 33, 88);
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .logo span{
    font-size: 2.5em;
    font-weight: bolder;
}

.container .logo span:hover{
    color: rgb(84, 227, 23);
}


.hamburg,.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: rgb(84, 227, 23);
    font-size: clamp(2.5rem,0.5rem,2.5rem);
    display: none;
}

.container .links{
    display: flex;
}


.container .links a{
    font-size: 1.3rem;
    color: rgb(84, 227, 23);
    margin: 0 20px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s linear;
}

.container ,.links:hover{
    color: rgb(190, 33, 88);
}

.container .links a:hover{
    color:rgb(190, 33, 88) ;
    border-bottom: 2px solid rgb(190, 33, 88);
}

.dropdown{
    z-index: 10;
    top: 0;
    position: absolute;
    transform: translateY(-400px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown a{
    display: flex;
    color: rgb(84, 227, 23);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: 0.5s linear;
    font-size: x-large;
}

.dropdown a:hover{
    background-color:  rgb(190, 33, 88);
}

section{
    width: 100%;
    height: 90vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

.main-container .image{
    z-index: -1.5;
    width: 500px;
    height: 80vh;
    overflow: hidden;
    
}

.main-container .image img{
    width: 100%;
}

.main-container .image img:hover{
    animation: animate 0.5s ease-in-out;
}

@keyframes animate{
    0%{
        scale:1;
    }
    50%{
        scale:1.05;
    }
    100%{
        scale:1;
    }
}

.main-container .content{
    color: rgb(84, 227, 23);
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(1.2rem, 1.2rem + 7vw, 2rem);
}

.content h1 span{
    color:rgb(190, 33, 88);
    text-shadow: 0 0 15px rgb(190, 33, 88);
    font-weight: 700;
}

.typing_text{
    font-weight: 700;
    font-size: clamp(1.5rem, 1vw + 2rem, 3rem);
    position: relative;
}

.typing_text span::before{
    content: "";
    color: rgb(190, 33, 88);
    animation: words 17s infinite;
}

.typing_text span::after{
    content: '';
    background-color: black;
    position: absolute;
    width: clamp(100%+8px);
    height: 100%;
    border-left:2.5px solid black ;
    right: -10;
}


@keyframes words{
    0%,20%{
        content: " Data Scientist";
    }
    21%,40%{
        content: " Data Analyst";
    } 
    41%,60%{
        content: " Web Developer";
    }
    61%,80%{
        content: " Data Engineer";
    }
    81%,100%{
        content: " Developer";
    }
}

.content p{
    font-size: clamp(0.5rem, 0.35rem +18vw, 2rem);
    margin: 10px 0;
}

.content .social_link i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid rgb(190, 33, 88);
    background-color: transparent;
    border-radius: 50%;
    color:rgb(190, 33, 88);
    margin: 5px 15px 5px 0;
    font-size: 1.5rem;
    transition: 0.3s linear;
}

.content .social_link i:hover{
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px);
    background-color: rgb(190, 33, 88);
    color: rgb(84, 227, 23);
}

.content button{
    width: 50%;
    height: 7vh;
    margin: 50px 0;
    background-color: rgb(190, 33, 88);
    border: none;
    color: rgb(84, 227, 23);
    font-weight: 700;
    font-size: x-large;
    outline: none;
    border-radius: 10px;
    transition: 0.4s linear;
}

.content button:hover{
    scale: 1.2;
    background-color:rgb(84, 227, 23);
    color: rgb(190, 33, 88);
    border: 2px solid rgb(190, 33, 88);
    box-shadow: 0 0 50px 7px rgb(190, 33, 88);
}


@media (max-width:884px){
    .container .logo{
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 1.7rem;

    }

    .main-container{
        display:flex;
        flex-direction:column;
    }

    .container .links{
        display: none;
    }

    .hamburg, .cancel{
        display: block;
    }

    .main-container .content{
        width: 85%;
        margin-top: 20px;
        font-size: 1.5rem;
    }

    .social_link i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.7em;
    }

    .main-container .image{
        z-index: -1;
        border: none;
        border-radius: 17%;
        box-shadow: 0 0 15px 7px;
        width: 70%;
        height: 25rem;
    }

    .main-container button{
        margin-top: 10px;
    }

}

@media (max-width:440px){
    .container .logo{
        position: absolute;
        top: 8px;
        left: 5px;
        font-size: 1.2rem ;
    }

    .main-container .image{
        z-index: -1;
        width: 80%;
        height: 25%;
    }

    .main-container .content p{
        width: 100%;
        font-size: 20px;
    }

    .main-container button{
        margin-top: 10px;
    }

    .typing_text{
        font-size: 2rem;
    }
}

